<nav class="sidebar-custom">
  <div class="sidebar-header">
    <img src="/SI-BIRAMA/public/images/logo_noback.jpg" alt="Logo" class="logo-sidebar" width="100">
  </div>
  <ul>
    <li><a href="beranda_pengurus.php">Dashboard</a></li>
    <li><a href="manajemen_anggota_kinerja.php">Manajemen Anggota</a></li>
    <li><a href="evaluasi_anggota.php">Evaluasi Anggota</a></li>
    <li><a href="manajemen_jadwal.php">Manajemen Jadwal</a></li>
    <li><a href="kontrol_program.php">Kontrol Program Kerja</a></li>
    <li><a href="manajemen_materi.php">Materi Latihan</a></li>
    <li><a href="manajemen_talent&inventaris.php">Talent & Inventaris</a></li>
    <li><a href="/SI-BIRAMA/app/controllers/authController.php?logout=true" class="text-danger">Logout</a></li>
  </ul>
</nav>
